<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>POSTS</h2>
            <ul class="list-group">
                <app-post-list *ngFor="let post of postList"
                               [title]="post.title"
                               [content]="post.content"
                               [create_at]="post.create_at"
                               [loveIts]="post.loveIts"
                ></app-post-list>
            </ul>
        </div>
    </div>
</div>